* {
  font-family: tahoma;
  margin: 0px;
  padding: 0px;
}
#wrapper {
  width: 300px;
  margin: 0px auto;
  padding: 5px;
  background-color: #212A45;
}
#wrapper img {
  margin-top: 30px;
  margin-left: 75px;
  border-radius: 100px;
}
#wrapper h2 {
  margin-left: 55px;
  margin-top: 10px;
}
#wrapper h3 {
  border-top: solid;
  border-color: silver;
  margin-top: 10px;
  width: 145px;
  margin-left: 74px;
  padding-top: 10px;
  border-top-width: 7px;
}
#wrapper p {
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
}
